*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Mukta', sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  background: #14181f;
}

img,
svg {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
  color: #edf1f7;
}

.border {
  border: 1px solid #ea1d22;
}

p {
  font-size: 1rem;
  color: #959698;
  letter-spacing: 1px;
  line-height: 140%;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1440px;
  margin: 0 auto;
  padding: 2rem 1rem;
  overflow-x: hidden;
}

.container-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  max-width: 576px;
}

.container-content .cta-buy {
  display: inline-block;
  padding: 0.6rem 1.8rem;
  position: relative;
  border-radius: 5px;
  -webkit-transform: skewX(-10deg);
          transform: skewX(-10deg);
  background: linear-gradient(225deg, #ea1d22 0%, #b31317 100%);
  color: #edf1f7;
  text-transform: uppercase;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.container-content .cta-buy::after {
  content: "";
  display: block;
  position: absolute;
  opacity: 0;
  top: -2px;
  left: -2px;
  width: 30%;
  height: 70%;
  border-top: 3px solid #edf1f7;
  border-left: 3px solid #edf1f7;
  border-radius: 2px;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.container-content .cta-buy::before {
  content: "";
  display: block;
  position: absolute;
  opacity: 0;
  bottom: -2px;
  right: -2px;
  width: 30%;
  height: 70%;
  border-bottom: 3px solid #edf1f7;
  border-right: 3px solid #edf1f7;
  border-radius: 2px;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.container-content .cta-buy:hover {
  -webkit-transform: skewX(-10deg) scale(1.05);
          transform: skewX(-10deg) scale(1.05);
}

.container-content .cta-buy:hover::after {
  opacity: 1;
}

.container-content .cta-buy:hover::before {
  opacity: 1;
}

.container-content .cta-trailer {
  display: inline-block;
  padding: 0.5rem 1.8rem;
  position: relative;
  border-radius: 5px;
  -webkit-transform: skewX(-10deg);
          transform: skewX(-10deg);
  background: transparent;
  border: 2px solid #ea1d22;
  color: #edf1f7;
  text-transform: uppercase;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.container-content .cta-trailer::after {
  content: "";
  display: block;
  position: absolute;
  top: -1px;
  left: -1px;
  width: 0%;
  height: 104%;
  z-index: -1;
  -webkit-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out;
  background: linear-gradient(225deg, #ea1d22 0%, #b31317 100%);
}

.container-content .cta-trailer:hover::after {
  width: 101%;
}

.container-image .spiderman {
  width: 150%;
  -webkit-transform: translate3d(-170px, 0, 0);
          transform: translate3d(-170px, 0, 0);
}

header {
  width: 100%;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 1rem;
}

.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  max-width: 88px;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.nav-list li {
  margin-left: 1.2rem;
}

.nav-list li .nav-link {
  display: inline-block;
  position: relative;
  padding: 8px 16px;
  font-size: 0.8rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #959698;
}

.nav-list li .nav-link::after {
  content: "";
  display: block;
  position: absolute;
  top: -50px;
  left: 50%;
  width: 2px;
  height: 0px;
  border-radius: 50px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(233, 29, 34, 0)), to(#e91d22));
  background: linear-gradient(180deg, rgba(233, 29, 34, 0) 0%, #e91d22 100%);
  -webkit-transition: .7s ease-in-out;
  transition: .7s ease-in-out;
}

.nav-list li .nav-link:hover {
  color: #f4f7fb;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.nav-list li .nav-link:hover::after {
  height: 45px;
}

.nav-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-social svg {
  margin-left: 1rem;
  cursor: pointer;
  width: 1.8rem;
}

.nav-social svg path,
.nav-social svg circle {
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.nav-social svg:hover path,
.nav-social svg:hover circle {
  fill: #f02a2f;
  -webkit-transform: translate3d(0, -4px, 0);
          transform: translate3d(0, -4px, 0);
}
/*# sourceMappingURL=style.css.map */