@import 'scss/general';
@import 'scss/responsive';

// Responsive media queries
@import 'scss/layout';
@import 'scss/menu';
@import 'scss/spacing';
@import 'scss/scrollBar';
@import 'scss/fonts';
@import 'scss/animations';
@import 'scss/video';