// Navigation

header {
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: $container-xl;
    margin: 0 auto;
    padding: 0 1rem;

    .menu-mobile {
        z-index: 999;

        @include responsive (xl) {
            display: none;
        }

        @include responsive (lg) {
            display: none;
        }
    }
}

.nav-menu {
    display: flex;
    align-items: center;
}

.logo {
    max-width: 88px;
    cursor: pointer;

    path {
        transition: .7s ease-in-out;
    }

    &:hover {

        path {
            fill: $red-light;
            transform: translate3d(0, -4px, 0);
        }
    }
}

.nav-list {
    display: flex;
    list-style: none;
    z-index: 99;

    @include responsive(sm) {
        display: none;
    }

    li {
        margin-left: 1.2rem;

        @include responsive(sm) {
            margin: 0;
        }

        .nav-link {
            display: inline-block;
            position: relative;
            padding: 8px 16px;
            font-size: 0.8rem;
            font-weight: 400;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: $gray-3;

            @include responsive (sm) {
                font-size: 1rem;
            }

            &::after {
                content: "";
                display: block;
                position: absolute;
                top: -50px;
                left: 50%;
                width: 2px;
                height: 0px;
                border-radius: 50px;
                background: linear-gradient(180deg, rgba(233, 29, 34, 0) 0%, #e91d22 100%);
                transition: .7s ease-in-out;
            }

            &:hover {
                color: $white-light;
                transition: .5s ease-in-out;

                &::after {
                    height: 45px;
                }
            }

            &.be-yourself {
                color: $red;
            }
        }
    }

    .nav-social-mobile {
        display: none;

        @include responsive(sm) {
            display: flex;
            width: 50%;
            position: absolute;
            bottom: 10%;
        }
    }
}

.nav-social {
    display: flex;

    @include responsive(sm) {
        display: none;
    }

    svg {
        margin-left: 1rem;
        cursor: pointer;
        width: 1.8rem;

        path,
        circle {
            transition: .5s ease-in-out;
        }

        &:hover {

            path,
            circle {
                fill: $red-light;
                transform: translate3d(0, -4px, 0);
            }
        }
    }
}

.nav-social-mobile {
    @include responsive (md) {
        display: flex;
        position: absolute;
        bottom: 10%;
    }
}

.hamburger-menu {
    cursor: pointer;

    @include responsive(sm) {
        display: block;
        position: relative;
        z-index: 999;
    }

    display: none;
    width: 40px;
    height: 40px;
    position: relative;
    border-radius: 10px;
    transition: 0.7s ease-in-out;

    &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 35%;
        width: 50%;
        height: 10%;
        border-radius: 10px;
        background-color: $red;
        transition: .7s ease-in-out;
    }

    &::after {
        content: "";
        position: absolute;
        top: 30%;
        left: 15%;
        width: 70%;
        height: 10%;
        border-radius: 10px;
        background-color: $red;
        transition: .7s ease-in-out;
    }
}

#hamburger-menu:checked~label .hamburger-menu::after {
    width: 70%;
    height: 10%;
    transform: rotate(225deg);
    top: 40%;
    left: 15%;
}

#hamburger-menu:checked~label .hamburger-menu::before {
    width: 70%;
    height: 10%;
    transform: rotate(-225deg);
    top: 40%;
    left: 15%;
}

.nav-list {

    &.open {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: $blue-light;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 99;
        // transform: translateY(50%);
        width: 100%;
        height: 100%;
        padding: 1rem;
    }
}